{% assign provider = site.comments.provider | default:"disqus" %}
{% if provider == "disqus" %}
  {% assign disqus = site.disqus | default:site.disqus_shortname %}
  {% if disqus %}
    {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
    {% endif %}
  {% endif %}
{% elsif provider == "utterances" %}
  {% assign utterances = site.utterances %}
  {% if utterances.repo %}
        <script src="https://utteranc.es/client.js"
            repo="khorbushko/khorbushko.github.io"
            issue-number={{ page.comments_id }}
            theme={{ utterances.theme }}
            crossorigin= "anonymous"
            async>
        </script>
  {% endif %}
{% elsif provider == "fetch" %}
    {% include comments.html element=".post-content" github_account="khorbushko/khorbushko.github.io" require_cookie_consent="true" %}
{% endif %}
